[Unit]
Description=Emulation Station

[Service]
Type=simple
User=odroid
ExecStart=/usr/bin/emulationstation
StandardInput=tty-force
TTYVHangup=yes
TTYPath=/dev/tty1
TTYReset=yes

[Install]
WantedBy=multi-user.target
