[Unit]
Description=Emulation Station EmuELEC

[Service]
Type=simple
User=odroid
ExecStart=/usr/bin/emulationstation
StandardInput=tty-force
TTYVHangup=yes
TTYPath=/dev/tty3
TTYReset=yes
Restart=always

[Install]
WantedBy=multi-user.target
