[Unit]
Description=Firstboot
DefaultDependencies=no

[Service]
Type=oneshot
TimeoutSec=infinity
ExecStart=/usr/local/sbin/firstboot.sh

[Install]
RequiredBy=multi-user.target
